<h1>Listing of Users</h1>

<%= paginate @users %>


<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>ID</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.userName %></td>
        <td><%= user.email %></td>
        <td><%= user.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>


